* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #030712 !important;
  color: white !important;
  min-height: 100vh;
  width: 100%;
}

#wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

#navbar {
  display: flex;
  justify-content: space-around;
  padding-block: 24px;
  padding-inline: 32px;
  border-bottom: 1px solid red;
}

#navbar input {
  border: 1px solid red;
}

#filter-group {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

#todo-item {
  border: 2px solid red;
}
